.footer{
    align-items: center;
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(17, 17, 17) 100%);
    background-color: rgba(255, 255, 255, 1);
    justify-content: space-between;
    display: flex;
    padding-top: 50px;
    height: 200px;
   width: 100%;
}

.footer .footer-content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 14.79px;
    justify-content: center;
    padding: 50px 60px;
    position: relative;
}




.footer .Hi {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 0;
}

.footer .name {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
}

.gitLink {
    padding-top: 10px;
}

.footer p {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 17.2px;
    font-weight: 400;
}

.footer .left a {
    text-decoration: none;
    color: white;
}

.GitHubLink {
    display: inline-block;
    position: relative;
}

.GitHubLink::after {
    content: '';
    height: 2px;
    background-color: rgb(222, 6, 6);
    width: 0;
    display: block;
    transition: width .3s ease;
    transform: translateX(0%);
}

.GitHubLink:hover:after {
    width: 100%;
    transform: translateX(0%);
}


.footer .connect-me {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 12.03px;
    justify-content: center;
    position: relative;
    padding-right: 150px;
}

.footer .right_heading {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 34.4px;
    font-weight: 700;
}

.footer_links{
    display: flex;
}

.footer_links .icon{
    margin-right: 10px;
}

.footer_links .icon:hover{
    fill: aqua;
    cursor: pointer;
}
.footer_links a::after{
   content: '';
   width: 0;
   height: 2px;
   background-color: rgb(222, 6, 6);
   transition: width .3s ease;
   display: block;
   transform: translateX(0%);
}
.footer_links a:hover::after{
    width: 100%;
    transform: translateX(0%);
 }

 .footer_links a{
    text-decoration: none;
 }
.footer_links p{
    text-decoration: none;
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
}

